{% extends "base.html" %}
{% block title %} Delete This Trip ? {% endblock %}
{% block content %}
<link rel="shortcut icon" href="static/images/planeLogo.jpg">


    <h1>{{one_trip['name']}}</h1>
    <p> Start Date: {{one_trip['start_date']}}</p>
    <p> Trip Length: {{one_trip['length']}}</p>
    <p>Activity Level: {{one_trip['level']}}</p>
    <p>Location: {{one_trip['location']}}</p>
    <p>Cost: {{one_trip['cost']}}</p>
    <p>Trip Leader: {{one_trip['leader']}}</p>
    <p>Description: {{one_trip['description']}}</p>

   {# <!-- <a class ='btn btn-outline-success' type="button" href="{{url_for('edit_trips')}}"> Edit Trip </a> 
    <a class ='btn btn-outline-success' type="button" href="{{url_for('del_trips')}}"> Delete this Trip </a>  --> #}


    <a class ='btn btn-outline-success' type="button" value="edit_trips" href="{{url_for('trips', trip_id = one_trip['name'])}} "> Back to Trip </a> 
    <a class ='btn btn-outline-success' type="button" href="{{url_for('del_trips', trip_id= one_trip['name'] )}} "> Confirm Delete </a> 
 
{% endblock %}